.home-header {
  display: none;
}

#tt-body-index .home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.home-header-wrapper {
  max-width: var(--max-content-width);
  width: 100%;
}

.home-header__slogun {
  padding: 15px 0px;
  font-size: 33px;
  font-weight: 700;
}

.home-header__slogun-description {
  color: var(--color-subinfo);
  font-size: 15px;
}
